  <!-- footer starts -->
         <div class="footer-in">
         </div>
            <div class="footer-main">
            	<div class="container">
                	<div class="row">
                      <div class="footer">
                      		<div class="footer-left">
                            	<h2>HOW TO FIND US</h2>
                                <ul>	
                            		<li><h3>Mount Pleasant Waterworks</h3></li>
                                    <li><p>Address: 1619 Rifle Range Road Mount Pleasant, SC  29464 or 
									PO Box 330 Mount Pleasant, SC</p></li>
                                </ul>
                                <ul>    
                                    <li><span>Phone: </span><small>(843) 884-9626</small></li>
                                    <li><span>Fax:</span><small>(843)884-4858</small></li>
                                    <li><span>Email: </span><a href="#">Contact Us</a></li>
                            	</ul>
                                <div class="clear"></div>
                            </div>
                            
                            <div class="footer-right">
                            	<h2>WEEKLY OFFICE HOURS</h2>
                                <ul>
                            		<li><span>Monday thru Friday</span><small>08:00 AM - 5:00 PM</small></li>
                                    <li class="blue-bg"><span>Saturday</span><small>CLOSED</small></li>
                                    <li><span>Sunday</span><small>CLOSED</small></li>
                            	</ul>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                      </div>
                    </div>
                </div>
            </div>
                   
            <!-- footer ends -->
            
             <!-- copy starts -->
             <div class="copy-in">
             	<div class="container">
                	<div class="row">
                    	<div class="copy">
                        	<span>&copy; <cfoutput>#year(now())#</cfoutput> Mount pleasant waterworks. all rights reserved.</span>
                        	<p>website design by <a href="http://www.icoastalnet.com" target="_blank">intercoastal net designs</a></p>
                        	<div class="clear"></div>
                    	</div>
                	</div>
                </div>
             </div>
            <!-- copy ends -->
            
    
</div>
<!-- wrapper ends -->
</body>
</html>
