 <div id="advertising" class="block border">
          <div class="block-content"> <img src="assets/images/sb-ad.jpg" alt="banner ad"> 
            <!--<div class="advertising-test">300x250<br/>
              Ad Banner</div>--> 
          </div>
        </div>