<!---Reserved for Future Use:
        div class="heading-l">
          <h2> Recruiter’s Info </h2>
        </div>
        <div class="block border recruiter box-1 mr0">
          <div class="block-content">
            <div class="recruiter_photo"><img src="images/recruiter.jpg" alt="user"></div>
            <div class="recruiter_info">
              <div class="row-field">
                <div class="span3  pull-right first">
                  <ul class="social_media_icons  pull-right">
                    <li> <a href="##"> <i class="fa fa-facebook"></i> </a> </li>
                    <li> <a href="##"> <i class="fa fa-google-plus"></i> </a> </li>
                    <li> <a href="##"> <i class="fa fa-twitter"></i> </a> </li>
                    <li> <a href="##"> <i class="fa fa-linkedin-square"></i> </a> </li>
                    <li> <a href="##"> <i class="fa fa-pinterest"></i> </a> </li>
                    <li> <a href="##"> <i class="fa fa-dribbble"></i> </a> </li>
                  </ul>
                  <a href="##" class="btn blue pull-right">Send a Message</a> </div>
                <div class="span2 pull-left first">
                   <div class="recruiter_info-wrapper">
                  <div class="title">Jeffrey Richards</div>
                  <div class="location">Company Name</div>
                  </div>
                  <div class="description"> Tel (123) 123-4567<br>
                    Fax (123) 123-4567 </div>
                </div>
              </div>
            </div>
          </div>
        </div--->