<div id="latest-job">
          <div class="heading-l">
            <h2> Similar Jobs </h2>
          </div>
          <div class="latest-job-wrapper">
            <div class="block-content dott-flexslider box-1">
              
            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 2400%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-580px, 0px, 0px);"><li class="clone" style="width: 580px; float: left; display: block;">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li class="flex-active-slide" style="width: 580px; float: left; display: block;">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
                <li style="width: 580px; float: left; display: block;" class="">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li>
              <li class="clone" style="width: 580px; float: left; display: block;">
                  <div class="company-logo"><a href="#"><img src="images/job-thumb.jpg" alt=""></a>
                    <div class="nav-buttons">
                      <ul>
                        <li class="search"><a><i class="fa fa-search"></i></a></li>
                        <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="company-text">
                    <div class="title"><a href="#">Front-End Developer at Envato</a>
                      <div class="location">Sydney, Australia</div>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                  </div>
                </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li><li><a class="">5</a></li><li><a class="">6</a></li><li><a class="">7</a></li><li><a class="">8</a></li><li><a class="">9</a></li><li><a class="">10</a></li></ol></div>
          </div>
        </div>