@import url(../scripts/style/awesome.css);
@import url(../scripts/style/tables.css);

body 
    {font-family:Verdana, Arial, Helvetica;
    font-size: 12px;
    background-color:#ffffff;line-height:23px;
    color:#000;margin:10px;
    /*height:900px;padding:0px 20px;
    line-height:30px !important;
    background-color:#E9E7ED;
    background-image:-webkit-repeating-linear-gradient(top, #E9E7ED 30px, #E9E7ED 30px, #B0BECF 31px, #E9E7ED 31px, #E9E7ED 60px);
    background-image:-moz-repeating-linear-gradient(top, #E9E7ED 30px, #E9E7ED 30px, #B0BECF 31px, #E9E7ED 31px, #E9E7ED 60px);
    background-image:-ms-repeating-linear-gradient(top, #E9E7ED 30px, #E9E7ED 30px, #B0BECF 31px, #E9E7ED 31px, #E9E7ED 60px);
    background-image:-o-repeating-linear-gradient(top, #E9E7ED 30px, #E9E7ED 30px, #B0BECF 31px, #E9E7ED 31px, #E9E7ED 60px);
    background-image:repeating-linear-gradient(top, #E9E7ED 30px, #E9E7ED 30px, #B0BECF 31px, #E9E7ED 31px, #E9E7ED 60px);
    border-top:40px solid #E9E7ED;
    border-bottom:40px solid #E9E7ED;*/
    }
/*p 
    {margin:0}
blockquote {
    border-left:#eeeeee 5px solid;padding-left:10px;}*/
blockquote {
    margin: 3em 0px 2em 0px;
    padding-left: 40px;
    font-style: italic;
    }
blockquote:before {
    color: #cccccc;
    content: '\201C'; /* http://monc.se/kitchen/129/rendering-quotes-with-css */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    font-weight: bold;
    line-height: 0px;
    margin: 0px 5px 0px -40px;
    vertical-align: bottom;
    }
blockquote p {margin-top:-10px;
    font-style: italic;}
audio 
    {width:400px;height:30px;background:url(audio.png) #000;
    }
    
a:link 
    {color: rgb(204, 0, 0);
    font-family: Verdana;
    font-size: 12px;}
a:active 
    {color: rgb(255, 0, 0);
    font-family: Verdana;
    font-size: 12px;}
a:visited 
    {color: rgb(204, 51, 0);
    font-family: Verdana;
    font-size: 12px;}
.Title
    {
    margin-bottom:3.0pt;
    font-size:26.0pt;
    font-family:"Cambria","serif";
    color:#17365D;
    letter-spacing:.25pt;}
.Subtitle
    {
    margin-bottom:10.0pt;
    line-height:115%;
    font-size:12.0pt;
    font-family:"Cambria","serif";
    color:#4F81BD;
    letter-spacing:.75pt;
    font-style:italic;}
.Quote
    {
    margin-bottom:10.0pt;
    line-height:115%;
    font-size:11.0pt;
    font-family:"Calibri","sans-serif";
    color:black;
    font-style:italic;}
.IntenseQuote
    {
    margin-top:10.0pt;
    margin-right:.65in;
    margin-bottom:14.0pt;
    margin-left:.65in;
    line-height:115%;
    font-size:11.0pt;
    font-family:"Calibri","sans-serif";
    color:#4F81BD;
    font-weight:bold;
    font-style:italic;}
.SubtleEmphasis
    {color:gray;
    font-style:italic;}
.IntenseEmphasis
    {color:#4F81BD;
    font-weight:bold;
    font-style:italic;}
.SubtleReference
    {font-variant:small-caps;
    color:#C0504D;
    text-decoration:underline;}
.IntenseReference
    {font-variant:small-caps;
    color:#C0504D;
    letter-spacing:.25pt;
    font-weight:bold;
    text-decoration:underline;}
.BookTitle
    {font-variant:small-caps;
    letter-spacing:.25pt;
    font-weight:bold;}
.CodeForeground 
    {margin:0in;
    margin-bottom:.0001pt;
    font-size:9.0pt;
    font-family:Courier New;}
.CodeInText 
    {font-family:Courier New;
    font-weight:bold;}
.ScreenText 
    {font-family:Tahoma;}

/* Responsive Video from Zurb Foundation. Copyright (c) 2011 ZURB, http://www.zurb.com/ License: MIT */
.flex-video {position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow: hidden;}
.flex-video.widescreen {padding-bottom:57.25%;}
.flex-video.vimeo {padding-top:0;}
.flex-video iframe, .flex-video object, .flex-video embed {position:absolute;top:0;left:0;width:100%;height:100%;border:none;}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }
    }
