<cfoutput>
<!-- /Footer -->
<div class="clearfix"></div>
<!-- Copyright -->
<div id="copyright">
  <div class="inner">
    <div class="row-fluid"> 
      <!-- Copyright Text -->
      <div id="copyright-text">Copyright 2010 -  #dateformat(now(), "YYYY")# | All Rights Reserved </div>
      <!-- /Copyright Text --> 
      <!-- Copyright Social Link -->
      <div id="copyright-link">
        <div class="buttons">
          <ul class="top_soical_icons pull-right	">
            <li> <a href="##"> <i class="fa fa-facebook"></i> </a> </li>
            <li> <a href="##"> <i class="fa fa-google-plus"></i> </a> </li>
            <li> <a href="##"> <i class="fa fa-twitter"></i> </a> </li>
            <li> <a href="##"> <i class="fa fa-linkedin-square"></i> </a> </li>
            <li> <a href="##"> <i class="fa fa-pinterest"></i> </a> </li>
            <li> <a href="##"> <i class="fa fa-dribbble"></i> </a> </li>
          </ul>
        </div>
      </div>
      <!-- /Copyright Social Link --> 
      
      <a class="scrollTop" href="##header" style="display: none;">
      <div id = "up_container"> <span></span> </div>
      </a> </div>
  </div>
</div>

</body>
</html>
</cfoutput>